/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fonts */
@font-face {
    font-family: "Arial_Rounded_MT_Bold";
    src: url("../fonts/Arial.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Color Variables */
:root {
    --primary: #a589be;
    --light-accent: #a589be;
    --dark-accent: #5b2d90;
    --secondary: #0ceddb;
    --red: #ff0000;
    --background: #ffffff;
    --light-background: #f0f0f0;
    --font-color: rgb(0, 0, 0);
    --light-font: #aabbc3;
}

/* Body Styles */
body {
    padding: 0;
    background-color: var(--background);
    scroll-behavior: smooth;
    color: var(--font-color);
    text-align: center;
    font-family: "Flama", Open Sans, sans-serif;
}

/* Strong Text Styles */
strong {
    font-weight: bold;
    color: var(--light-accent);
}

/* Link Styles */

/* Button Styles */

/* Input Styles */

/* Red Text Styles */
.red {
    font-weight: bold;
    color: var(--red);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
